body {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-family: "Helvetica Neue",Arial,sans-serif;
  color: #222;
}
.showcase__wrapper {
  position: relative;
}

.showcase__viewport {
  z-index: 1;
  border: 1px solid #ccc;
}

.showcase__viewport {
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 500px;
}

.showcase__item {
  height: 500px;
  line-height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.showcase__viewport {
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 500px;
}

.showcase {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  width: 560px;
  margin: 10px auto;
}

.showcase__item-image {
  height: 100%;
  margin: 0 auto;
}

img {
  border: 0;
}

.showcase__panner {
  z-index: 3;
}

.showcase__panner {
  opacity: 0;
}

.showcase__panner {
  position: absolute;
  overflow: hidden;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.showcase__panner img {
  display: inline;
  position: absolute;
  left: 0;
  top: 0;
  /*width: 1200px;*/
}

.showcase__item {
  height: 500px;
  line-height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.showcase__slider {
  position: relative;
}

.showcase__slider-wrapper {
  border-top: 1px solid #eee;
  overflow: hidden;
  height: 80px;
}

.showcase__slider-viewport {
  position: relative;
}

.showcase__slide {

  cursor: pointer;
  float: left;
  height: 66px;
  line-height: 66px;
  margin: 0 10px 0 0;
  padding-top: 5px;
  position: relative;
  width: 46px;
  text-align: center;
}

.showcase__slide-image{
  border-top: 3px solid transparent;
}

.showcase__slide_active {
  border-top-color: #000;
}
