<div class="showcase">
  <div class="showcase__wrapper">
    <div class="showcase__viewport">
      <div class="showcase__item">
        <img class="showcase__item-image"
             src="//pi1.lmcdn.ru/img389x562/M/A/MA002EWXLS74_5471878_3_v1.jpg"
             alt="Блуза Mango - PLUMETI">
        <div class="showcase__panner">
          <img src="//pi1.lmcdn.ru/product/M/A/MA002EWXLS74_5471878_3_v1.jpg"
               style="display: inline; position: absolute; left: 50px; top: -466.8px;">
        </div>
      </div>
    </div>
    <div class="showcase__slider">
      <div class="showcase__slider-wrapper">
        <div class="showcase__slider-viewport" style="width: 224px; left: 0px;">
          <div class="showcase__slide showcase__slide_image"
               data-preview="//pi3.lmcdn.ru/img46x66/M/A/MA002EWXLS74_5471876_1_v1.jpg"
               data-resource="//pi3.lmcdn.ru/img389x562/M/A/MA002EWXLS74_5471876_1_v1.jpg">
            <img class="showcase__slide-image" src="//pi3.lmcdn.ru/img46x66/M/A/MA002EWXLS74_5471876_1_v1.jpg"
                 alt="Блуза Mango- PLUMETI">
          </div>
          <div class="showcase__slide showcase__slide_image"
               data-preview="//pi2.lmcdn.ru/img46x66/M/A/MA002EWXLS74_5471877_2_v1.jpg"
               data-resource="//pi2.lmcdn.ru/img389x562/M/A/MA002EWXLS74_5471877_2_v1.jpg"><img
              class="showcase__slide-image" src="//pi2.lmcdn.ru/img46x66/M/A/MA002EWXLS74_5471877_2_v1.jpg"
              alt="Блуза Mango- PLUMETI"></div>
          <div class="showcase__slide showcase__slide_image showcase__slide_active"
               data-preview="//pi1.lmcdn.ru/img46x66/M/A/MA002EWXLS74_5471878_3_v1.jpg"
               data-resource="//pi1.lmcdn.ru/img389x562/M/A/MA002EWXLS74_5471878_3_v1.jpg"><img
              class="showcase__slide-image" src="//pi1.lmcdn.ru/img46x66/M/A/MA002EWXLS74_5471878_3_v1.jpg"
              alt="Блуза Mango- PLUMETI"></div>
          <div class="showcase__slide showcase__slide_image"
               data-preview="//pi0.lmcdn.ru/img46x66/M/A/MA002EWXLS74_5471879_9_v1.jpg"
               data-resource="//pi0.lmcdn.ru/img389x562/M/A/MA002EWXLS74_5471879_9_v1.jpg"><img
              class="showcase__slide-image" src="//pi0.lmcdn.ru/img46x66/M/A/MA002EWXLS74_5471879_9_v1.jpg"
              alt="Блуза Mango- PLUMETI"></div>
        </div>
      </div>
    </div>
  </div>
</div>